$light_grey:#fafafa;
$grey:#d3d3d3;
$grapefruit:#ff6232;
$light_greyfruit:#ffab91;
$black:#3d4449;
$light_black:#7e7e7e;
@mixin basicBtn {
  background-color: transparent;
  border:none;
}
body{
  overflow-x: hidden;
}
#root {
  display: flex;
  li{
    list-style: none;
  }
}
#main {
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 5rem;
  width: 100%;
}

section header {
  font-size: 1.2rem;
  padding-bottom: 10px;
  width: 90%;
  border-bottom: 2px solid $grey;
  color : $black;
  font-weight: bold;
  padding: 6px;
  margin : {
    left: 1rem;
    bottom:1rem
  }
}
@media screen and (min-width:2000px) {
  #root {
    width: 2000px;
    margin: 0 calc(50% - 1000px)
  }
}