$light_grey:#fafafa;
$grey:#d3d3d3;
$grapefruit:#ff6232;
$light_greyfruit:#ffab91;
$black:#3d4449;
$light_black:#7e7e7e;
@mixin basicBtn {
  background-color: transparent;
  border:none;
}
body{
  overflow-x: hidden;
}
#root {
  display: flex;
  li{
    list-style: none;
  }
}
#main {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
}


@media screen and (min-width:1440px) {
  #root {
    width: 1440px;
    margin: 0 calc(50% - 720px)
  }
}