#loading {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  section {
    width: 100%;
    height: 30%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    &>div{
      display: flex;
    }
    .container{
      margin-top: 2rem;
    }

  }
}
$loader_width:10vw;

#circleLoading >div {
  flex-direction: column;
  justify-content: space-around;
  .circles {
    display: flex;
    justify-content: space-around;
  }
  
  .loader {
    width: $loader_width;
    height: $loader_width;
    border-radius: 50%;
    position: relative;
  }
}
#circle1{
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    background-color:rgb(224, 239, 250) ;
    animation: loading 2s linear infinite;
    @keyframes loading {
      0%
      {transform: rotate(0deg);}
      100% 
      {transform: rotate(360deg);}
    }
    &::before{
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 50%;
      height: 100%;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      background:linear-gradient(to top, transparent ,rgb(10, 186, 255));
    }
    span{
      position: absolute;
      top:10%;
      left:10%;
      right: 10%;
      bottom:10%;
      border-radius: 50%;
      background-color: #ffff;
    }
  }
}


#circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    animation: changeColor 10s linear infinite;
  }
  @keyframes changeColor {
    0%
    {
      filter:hue-rotate(0deg)
    }
    100%
    {
      filter:hue-rotate(360deg)
    }
  }
  span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;

    &::before{
      content: "";
      position: absolute;
      top:10%;
      left:10%;
      width: 15%;
      height:15% ;
      border-radius: 50%;
      background-color:#01c1fc ;
      box-shadow: 0 0 10px #9df0ff,
      0 0 30px #9df0ff
      ;
    }
  }
  @for $i from 1 through 20 {
    span:nth-child(#{$i}){
      transform: rotate( 18deg * $i );
      &::before {
        animation: animatecircle2 2s linear infinite;
        animation-delay:0.1s * $i;
      }
    }
  }
  @keyframes animatecircle2 {
    0%
    {
      transform: scale(1);
    }
    80%,100% 
    {
      transform:scale(0);
    }
  }
}

#circle3 {
  .inner , .outer , .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    border-radius: 100%;
    box-shadow: inset 0 1px rgba(0,0,0, 0.3);
  }
  .inner {
    top:50%;
    left: 50%;
    width: 80%;
    height: 80%;
    margin: -40% 0 0 -40%;
    background-color:#f8f8f8 ;
    box-shadow: inset 0 1px rgba(0,0,0, 0.3);
  }
  .circle {
    z-index: 1;
    box-shadow: none;
  }
  .loading {
    z-index: 10;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size:10px;
  }
  .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:transparent;
    clip: rect(0 ,$loader_width ,$loader_width , $loader_width*0.5);
    border-radius: 50%;
  }
  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0 , $loader_width*0.5, $loader_width ,0);
    border-radius: 50%;
  }
  .progress {
    background-color:#42a5f5;
  }

  .left .progress {
    z-index: 1;
    animation: circle3 4s linear both;
  }
  @keyframes circle3 {
    100%{
      transform: rotate(180deg);
    }
  }
  .right{
    z-index: 3;
    transform: rotate(180deg);
    .progress{
      animation: circle3 4s linear both;
      animation-delay: 4s ;
    }
  }
  .dot {
    z-index: 2;
    position: absolute;
    top:50%;
    left: 50%;
    width: 50%;
    height: 10%;
    margin-top: -4%;
    transform-origin: 0% 50%;
    svg{
      position: absolute;
      top:0;
      right: 0;
      border-radius: 100%;
      width: 20%;
      height: 100%;
    }
    circle {
      fill: #42a5f5;
    }
    
  }
  .dot:nth-child(1){
    animation: dot1 8s linear both;
  }
  .dot:nth-child(2){
    animation: dot2 8s linear both;
  }
  @keyframes dot1 {
    0%{
      transform: rotate(-90deg)
    }
    50% {
      transform: rotate(90deg);
      z-index: 5;
    }
    100%{
      transform: rotate(270deg);
      z-index: 5;
    }
  }
  @keyframes dot2 {
    0%{
      transform: rotate(-90deg)
    }
    100%{
      transform: rotate(90deg);
      z-index: 5;
    }
  }
  .loading {
    animation: loadingText 8s linear both;
    color:#242424;
    font-weight: 500;
  }
  @keyframes loadingText {
    0%{
      opacity: 0.2;
    }
    20%{
      opacity: 1;
    }
    40%{
      opacity: 0.2;
    }
    60%{
      opacity:1 ;
    }
    70%{
      opacity: 0.2;
    }
    85%{
      opacity: 1;
    }
    95%{
      opacity:0.5 ;
    }
    100%{
      opacity:0 ;
    }
  }
}

#percent_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .container{
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffff;
    box-shadow: 0 30px 60px rgba(0,0,0,0.02);
  }
.loader , svg{
  position: relative;
}
svg{
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}
circle {
  fill: none;
  stroke-width:10% ;
  stroke: #000; 
  transform: translate(5px , 5px);
  stroke-dasharray: calc(40% *2* 3.14 );
  stroke-dashoffset: calc(40% *2 * 3.14);
  stroke-linecap: round;
  &:nth-child(1){
    stroke-dasharray: 0;
    stroke: #f3f3f3;
  }
  &:nth-child(2){
    stroke: #ffde25;
  }
}
#circle5{
  circle:nth-child(2){
    stroke-dashoffset: calc(40% *2* 3.14 *0.87);
  } 
}
#circle6{
  circle:nth-child(2){
    stroke-dashoffset: calc(40% *2* 3.14 *0.40);
  }
}
.percent {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

.complete {
  span:nth-child(1){
  font-size :14px;
  text-align: center;
  }
  span:nth-child(2){
    display: none;
  }
}
span:nth-child(1) {
    font : {
      weight:700;
      size:1.2rem
    }
    font-weight: 700;
    display: block;
  }
  span:nth-child(2){
    color: #999; 
  }
}

#floatingLoading{
  height:fit-content;
  &>div{
    margin-top: 3em;
    flex-direction: column;
    justify-content: center;
  }
  .container{
    width: 100% ;
    height: min-content;
    position: relative;
    display: flex;
    justify-content: center;
  }
}
#floating1 {
  margin-bottom: 2rem;
  .loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .circle {
      border-radius: 50%;
      width: 1.5rem;
      aspect-ratio: 1/1;
      margin: 0;
      margin-left: 5%;
      background-color: #ff3575;
      animation: animateFloating1 1s linear infinite;
    }
    @keyframes animateFloating1 {
      0%
      {
        transform: translateY(0);
      }
      25%
      {
        transform: translateY(-50%);
      }
      50%
      {
        transform: translateY(-100%);
      }
      75%
      {
        transform: translateY(-50%);
      }
      100%
      {
        transform: translateY(0);
      }
    }
    @for $i from 1 through 4 {
      .circle:nth-child(#{$i}){
        animation-delay: (0.15s * $i);
        opacity: (0.25 * $i);
      }
    }
  }

}

#floating2{
  .loader {
    display: flex;
    justify-content: center;
  }
  span{
    margin-top: -10%;
    color:#e92480;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 5px;
    text-shadow: 0px 15px 5px rgba(138, 137, 137, 0.274);
    animation: animateFloating2 2s infinite;

  }
  @for $i from 1 through 7 {
    span:nth-child(#{$i}){
      animation-delay: 0.1s * $i;
    }
  }
  @keyframes animateFloating2 {
    0%
    {
      transform: translateY(0%);
      margin-left: 0;
    }
    25%
    { 
      color:#f1eab0;
      transform: translateY(-20%);
      margin-left: 10px;
    }
    100%
    {
      transform: translateY(0%);
      margin-left: 0;
    }
  }
}

#barLoading {
  &>div{
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container{
    width: 80%;
    margin: 0 10%;
  }
  .loader {
    width:100%;
    height: 1.2rem;
    border-radius: 10px;
    margin: 1% 0;
  }
  .bar {
    height: inherit;
    border-radius: inherit;
  }
  .loading  {
    margin-top: 10px;
    text-align: center;
    font: {
      size: 1.3rem;
      weight : bold
    }
  }
}

#bar1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center ;
  .loader{
    border:2px solid #A6CF98;

  }
  .loading  {
    animation: bar1Loading 8s linear infinite;
    color:#2c9409;
    opacity: 0;
  }
  @keyframes bar1Loading {
    0%
    {
      opacity: 0;
    }
    25%
    {
      opacity: 25%;
    }
    50%
    {
      opacity: 50%;
    }
    75%
    {
      opacity: 75%;
    }
    100% 
    {
      opacity: 1;
    }
  }

  #bar1_bar {
    width: 0;
    background-color:#90db78 ;
    animation: animateBar1 8s linear infinite;
  }
  @keyframes animateBar1 {
    0%
    {
      width: 0%;
    }
    50%
    {
      width: 50%;
    }
    100% 
    {
      width:100%
    }
  }
}

#bar2 {
  .loader {
    border:2px solid #b2b9b8;
  }
  #bar2_bar {
    background-color:#e3ec64 ;
  }
  #bar2_percent {
    color: $black;
  }
}



@media screen and (min-width:425px) {
  #circle3{
    .loading{
      font-size: 14px;
    }
  }
}

@media screen and (min-width:700px) {
  #floatingLoading {
    &>div{
      flex-direction: row;
      justify-content: space-around;
    }
    .container {
      width: 50%;
    }
    #floating1 {
      margin-bottom: 0;
    }
    #floating2 {
      span{
        font-size: 2.2rem;
      }
    }
  }
  #barLoading {
    &>div {
      flex-direction: row;
      justify-content: space-around;
    }
    .container{
      width: 30%;
      margin:0;
    }
  }
}

@media screen and (min-width:768px) {
  #circle3{
    .loading{
      font-size: 1rem;
    }
  }
  #percent_circle{
    span:nth-child(1){
      font-size: 1.5rem;
    }
    .complete {
      span:nth-child(1){
      font-size :1rem;
      }
    }
  }
}
@media screen and (min-width:1024px) {


  #circle3{
    .loading{
      font-size: 1.2rem;
    }
  }

  #percent_circle{
    span:nth-child(1) {
      font-size: 2rem;
    }
    .complete {
      span:nth-child(1){
      font-size :1.2rem;
      }
    }
  }
}

@media screen and (min-width:2000px) {
  $loader_width_2000 : 2000px * 0.1;
    #circleLoading >div {
    .loader {
      width: $loader_width_2000;
      height:$loader_width_2000 ;
    }
  }
  #circle3{
    .bar {
      clip: rect(0 ,$loader_width_2000 ,$loader_width_2000 , $loader_width_2000*0.5);
      border-radius: 50%;
    }
    .progress {
      clip: rect(0 , $loader_width_2000*0.5, $loader_width_2000 ,0);
    }
  }
}