@import './common';

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family:'Sansita Swashed', cursive; 
  src: url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Playfair Display', serif;
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}
$orange :#ffb806;
$light_black :rgb(65, 64, 64);
$ivory :#fcf9ef;

#menus {
  section {
    width: 90%;
    margin: 5% ;
    height: min-content;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
  }
  .menuBox {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .length, .transverse {
    border: 1px solid rgb(194, 193, 193);
    display: flex;
    width: 100%;
    aspect-ratio: 4/3;
    overflow-y: scroll;
  }
  .header , .side{
    background-color:$ivory;
  }
  .side{
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .name {
    font-family:'Sansita Swashed' ;
    font-weight: 700;
    div{
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }
    svg{
      color:rgb(24, 24, 23);
      font-size: 11px;
    }
  }
  .menubar {
    padding: 0;
    li{
      display: flex;
      align-items: center;
      padding: 5px;
      span{
        margin-left: 5px;
      }
      &:hover{
        background-color: #ffde8a;
        border-radius: 20px;
      }
    }
  }
  .logIn {
    svg{
      display: none;
      border-radius: 50%;
    }
    button{
      text-align: center;
      width: fit-content;
      height: fit-content;
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background-color: transparent;
      border: 2px solid rgb(65, 64, 64) ;
      color:rgb(65, 64, 64);
      border-radius:25px;
      position: relative;
    }
    svg:hover,
    button:hover {
      border: none;
      box-shadow: inset 0px 0px 2px  rgb(204, 203, 203);
      color:#fff;
      background:linear-gradient(to bottom,rgb(255, 204, 136) 1%,rgb(255, 147, 6));
      }
  }
  .main {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-between;
    &_section {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 10px;
      text-align: center;
  
      &>div{
        padding: 5% 0;
        width: 100%;
        font-family: "Playfair Display";
        flex-shrink: 1;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .clickIcon{
    display: none;
    &.on{
      display: block;
    }
    position: absolute;
    top:-10px;
    left: 2rem;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
    font-size: 12px;
    &::before{
      content: "";
      background-color: transparent;
      border-bottom: 10px solid #ffff;
      border-left: 5px solid transparent;
      border-right:  5px solid transparent;
      transform: rotate(-90deg);
      position: absolute;
      top:25%;
      left: -10px;

    }
  }
  .outNavBtn{
    .clickIcon{
      left: -5rem;
      background-color: $black;
      color: #ffff;
      &::before{
        border: none;
      }
      &::after{
        content: "";
        background-color: transparent;
        border-bottom: 10px solid  $black ;
        border-left: 5px solid transparent;
        border-right:  5px solid transparent;
        transform: rotate(90deg);
        position: absolute;
        top:45%;
        right: -10px;
      }
    }
  }
  .length {
    width: 100%;
    .header{
      width: 100%;
      display: none;
    }
    .nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .side.on , .side.left.on{
      display: block;
      width: 25%;
      .nav{
        display: block;
      }
    }
    .side.left {
      display: block;
      width: 10%;
      .menubar {
        margin-top:20%;
        li {
          display: flex;
          align-content: center;
          margin: 10px 0;
        }
      }
      .menubar li span,
      .logIn button{
        display: none;
      }
      .logIn svg{
        display: block;
      }
      .menubar svg,
      .logIn svg{
        font-size: 1rem;
      }
    }
    .side.left.on {
      .menubar svg,
      .logIn svg{
        font-size: 10px;
      }
      .menubar li span {
        display: block;
      } .logIn button{
        display: inline-block;
      }
      .menubar li{
        margin:5px 0;
      }
      .logIn svg{
        display: none;
      }
    }
    .side{
      display: none;
      position: sticky;
      top:0;
      flex-grow: 1;
      flex-shrink: 0;
      flex-direction: column;
      align-content: center;
      padding: 5%;
      -webkit-box-shadow: 0px 0px 13px -7px #c7c7c780, 11px 0px 13px -2px rgba(195,195,195,0.3); 
      box-shadow: 0px 0px 13px -7px #c7c7c780, 11px 0px 13px -2px rgba(195,195,195,0.3);
      .menubar svg,
      .menubar span, 
      .logIn button,
      .logIn svg ,
      .name{
        font-size: 10px;
      }
      .name , .name svg{
        text-align: center;
      }
      .menubar {
        margin: 10px 0;
        li{
          margin-top:5px;
        }
      }
      .logIn{
        text-align: center;
        button{
          display: inline-block ;
        }
      }
    }
    .outNavBtn{
      display: none;
      .menuIcon{
        display: none;
      }
    }
  }
  
  .transverse {
    width: 100%;
    text-align: center;
    flex-direction: column;
    .side {
      width:100%;
      height: fit-content;
      -webkit-box-shadow: 0px 0px 13px -7px #c7c7c780, 0px 0px 13px -2px rgba(195,195,195,0.3); 
      box-shadow: 0px 0px 13px -7px #c7c7c780, 0px 0px 13px -2px rgba(195,195,195,0.3);
      .menuIcon{
        display: none;
      }
    }
    .nav{
      display: flex;
      width: 100%;
      padding:10px ;
      box-sizing: content-box;
      justify-content: space-between;
    }
    .menubar{
      margin: 0;    
      li {
      float:left;
      margin: 0;
      margin-right: 5px;
      svg{
        display: none;
      }
      span{
        display: block;
      }
      }
    } 

    .menubar li, 
    .logIn ,
    .logIn button{
      font-size: 8px;
    }

    .logIn button{
      padding: 0 5px;
    }
    &:nth-child(1){
      margin-bottom: 3rem;
    }
  }
  #menu1 {
    .menuIcon {
      position: absolute;
      button{
        background-color: transparent;
        border-radius: 50%;
        font-size:1rem;
        color : $light_black;
        &:hover {
          color: $orange;
        }
      }
    }
    
    .length:nth-child(1){
      position: relative;
      flex-direction: row-reverse;
      & > div:last-child{
        width: 100%;
      }
      .header{
        width: 100%;
        height: 3rem;
        box-sizing: border-box;
        display: flex;
        padding: 0 1rem ;
        .name {
          display: flex;
          align-items: center;
          & , svg {
            font-size: 1rem;
          }
        }

      }
      .side{
        position: absolute;
        top:0;
        right: 0;  
        display: block;
        height: fit-content; 
        background-color: transparent;  
        .nav{
          display: none;
        }
        .menuIcon{
          display: none;
        }
      }
      .side.on {
        height: 100%;
        background-color: #fffbecd3;
        .nav{
          display: block;
        }
      }
      .outNavBtn {
        display : block;
        .menuIcon{
          display: block;
          top:1rem;
          right: 0;
        }
      }
      .outNavBtn.on{
        .menuIcon{
          right:35%;
        }
      }
    }

    .length:nth-child(2){
      margin:2rem 0;
      .side{
        flex-grow: 0;
        flex-shrink: 1;
      }
      .side.left{
        .menuIcon{
          top:1rem;
          right:-100%;
          padding: 0;
          svg{
            opacity: 0.5;
            background-color:$ivory ;
            border-radius: inherit;
          }
        }
      }
      .side.left.on{
        .menuIcon{
          top:1rem;
          right:-50%;
        }
      }

    }


  }
  #menu2 {

  }


  @media screen and (min-width:375px) {
    .transverse{
      li, .logIn button{
      font-size: 10px;
    }}
    .length{
      .side.left{
        width: 5%;
      }
      .side.on , .side.left.on{
        width: 20%;
      }
    }
    #menu1{
      .length:nth-child(1){
        .outNavBtn.on{
          .menuIcon{
            right:28%;
          }
        }
      }
    }

  }
  @media screen and (min-width:425px) {
    .logIn button{
      padding: 4px 14px;
    }
    .length ,.transverse{
      aspect-ratio: 16/9;
    }
    .transverse{
      li, .logIn button{
      font-size: 12px;
    }
    }

  }
  @media screen and (min-width:550px) {
    .transverse{
      li, .logIn button {
      font-size: 14px;
    }}
    #menu1{
      .length:nth-child(2){
        .menuIcon{
          right: -30%;
        }
      }
    }
  }

  @media screen and (min-width:600px) {
    .main_section {
      font-size: 1rem;
    }
    .clickIcon{
      width: fit-content;
    }
    .transverse{
      li, .logIn button {
      font-size: 14px;
    }}
    .length{
      .side.on , .side.left.on{
      width: 15%;
      }
      .side {
        .menubar span,
        .menubar svg,
        .logIn svg{
          font-size: 14px;
        }
        .name {
          & , svg{
            font-size: 1.2rem;
          }
        }
        .menubar {
          margin-top: 1.5rem;
          li{
            margin-top: 10px;
          }
        }
        .logIn{
          margin-top: 1.5rem;
          button {
            font-size: 12px;
          }
        }
      }

    }
    #menu1 {
      .length:nth-child(1) {
        .header.name ,
        .header .name svg,
        .menuIcon{
          font-size: 1.2rem;
            }
      }
      .length:nth-child(2){
        .side.left{
          .menuIcon{
            top:1rem;
            right:-100%;
            padding: 0;
            svg{
              opacity: 0.5;
              background-color:$ivory ;
              border-radius: inherit;
            }
          }
        }
        .side.left.on{
          .menuIcon{
            top:1rem;
            right:-50%;
          }
        }
        .side.left{
          .menubar{
            margin-top: 1rem;
          }
          .menuIcon{
            right: -50%;
          }
        }
        .side.left.on{
          .menubar svg ,
          .logIn svg{
            font-size:1rem
          }
        }
      } 
    }
  }
  
  @media screen and (min-width: 1024px) {
    .transverse {
      width: 45%;
      margin: {
        left: 0;
        right:0;
      }
    }
    .length{
      .mebar{
        li{
          margin-top: 1rem;
        }
      }
    }
  }
  @media screen and (min-width:1440px) {
    .menuBox {
      flex-direction: row;
      justify-content: space-around;
    }
    .length{
      width: 48%;
      .side {
        .menubar span,
        .menubar svg,
        .logIn svg{
          font-size: 13px;
        }
        .menubar{
          margin-top:10px ;
          li{
            margin-top: 5px;
          }
        }
        .logIn{
          margin-top: 0;
        }
      }
    }
    #menu1 {
      .length:nth-child(2){
        margin: 0;
        .side.left{
          .menubar{
            margin-top: 1rem;
          }
        }
        .side.left.on{
          .menubar svg ,
          .logIn svg{
            font-size:1rem
          }
        }
      } 
    }

  }  
}


