@import './common';

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family:'Sansita Swashed', cursive; 
  src: url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Playfair Display', serif;
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}
$orange :#ffb806;
$light_black :rgb(65, 64, 64);
$ivory :#fcf9ef;

#menus {
  section {
    width: 90%;
    margin: 5% ;
    height: min-content;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
  }
  .menuBox {
    width: 100%;
    height: min-content;
    display: flex;
    margin-top: 1rem;
  }
  .length, .transverse {
    border: 1px solid rgb(194, 193, 193);
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    overflow-y: scroll;
  }
  .header , .side{
    background-color:$ivory;
  }
  .side{
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .main {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #eeeeee;
  }
  .name {
    font-family:'Sansita Swashed' ;
    font-weight: 700;
    div:nth-child(1) {
      display: flex;
    }
    svg{
      color:rgb(24, 24, 23);
      font-size: 11px;
    }
  }
  .menubar {
    padding: 0;
    li{
      margin-top:1rem;
      display: flex;
      span{
        margin-left: 5px;
      }
    }
  }
  .logIn {
    text-align: center;
    width: fit-content;
    height: fit-content;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color: transparent;
    border: 2px solid rgb(65, 64, 64) ;
    color:rgb(65, 64, 64);
    border-radius:25px;
    position: relative;
    &:hover {
    border:1px solid #ececec;
    box-shadow: inset 0px 0px 2px  rgb(204, 203, 203);
    color:#fff;
    text-shadow: 1px 2px 4px  rgb(145, 145, 145);
    background:$orange;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-between;
    &_section {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 10px;
      text-align: center;
  
      &>div{
        padding: 5% 0;
        width: 100%;
        font-family: "Playfair Display";
        flex-shrink: 1;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .length {
    width: 100%;
    .header{
      width: 100%;
      display: none;
    }
    .nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .side.on , .side.left.on{
      display: block;
      width: 20%;
      .nav{
        display: block;
      }
    }
    .side.left {
      display: block;
      width: 5%;

      .menubar {
        margin-top:20%;
        li {
          display: flex;
          align-content: center;
          span {
            display:none ;
          }
        }
      }
      .logIn{
        display: none;
      }
      .name {
        span{
          display: none;
        }
      }
    }
    .side.left.on {
      .menubar {
        li {
          span {
            display:block ;
          }
        }
      }
      .logIn{
        display: block;
      }
      .name {
        span {
          display: block;
        }
      }
    }
    .side{
      display: none;
      position: sticky;
      top:0;
      flex-grow: 1;
      flex-shrink: 0;
      flex-direction: column;
      align-content: center;
      padding: 5%;
      -webkit-box-shadow: 0px 0px 13px -7px #c7c7c780, 11px 0px 13px -2px rgba(195,195,195,0.3); 
      box-shadow: 0px 0px 13px -7px #c7c7c780, 11px 0px 13px -2px rgba(195,195,195,0.3);
      .menubar span,
      .menubar svg,
      .logIn {
        font-size: 10px;
      }
      .name , .name svg{
        font-size: 14px;
        text-align: center;
      }
    }
    .outNavBtn{
      display: none;
      .menuIcon{
        display: none;
      }
    }
  }
  
  .transverse {
    width: 100%;
    text-align: center;
    flex-direction: column;
    .side {
      width:100%;
      height: fit-content;
      -webkit-box-shadow: 0px 0px 13px -7px #c7c7c780, 0px 0px 13px -2px rgba(195,195,195,0.3); 
      box-shadow: 0px 0px 13px -7px #c7c7c780, 0px 0px 13px -2px rgba(195,195,195,0.3);
      .menuIcon{
        display: none;
      }
    }
    .nav{
      display: flex;
      width: 100%;
      padding:10px ;
      box-sizing: content-box;
      justify-content: space-between;
    }
    .menubar{
      margin: 0;    
      li {
      float:left;
      margin: 0;
      margin-right: 5px;
      svg{
        display: none;
      }
      span{
        display: block;
      }
      }
    } 

    .menubar li, .logIn {
      font-size: 8px;
    }

    .logIn{
      padding: 0 5px;
    }
    &:nth-child(1){
      margin-bottom: 3rem;
    }
  }
  #menu1 {
    .menuBox {
      flex-direction: column;
      justify-content: space-around;
    }
    .menuIcon {
      position: absolute;
      background-color: transparent;
      border-radius: 50%;
      font-size:1rem;
      color : $light_black;
      &:hover {
        color: $orange;
      }
    }
    
    .length:nth-child(1){
      position: relative;
      flex-direction: row-reverse;
      .header{
        width: 100%;
        height: 1rem;
        box-sizing: border-box;
        display: flex;
        padding: 5% 5%;
        .name {
          display: flex;
          align-items: center;
          & , svg {
            font-size: 1rem;
          }
        }

      }
      .side{
        position: absolute;
        top:0;
        right: 0;  
        display: block;
        height: fit-content;   
        .nav{
          display: none;
        }
        .menuIcon{
          display: none;
        }
      }
      .side.on {
        position: sticky;
        height: 100%;
        background-color: #fffbecf8;
        .nav{
          display: block;
        }
      }
      .outNavBtn {
        display : block;
        .menuIcon{
          display: block;
          top:5%;
          right: 0;
        }
      }
      .outNavBtn.on{
        .menuIcon{
          right:28%;
        }
      }
    }
    .length:nth-child(2){
      margin:1rem 0;
      .side{
        flex-grow: 0;
        flex-shrink: 1;
      }
      .menuIcon{
        top:1rem;
        right:-50%;
        svg{
          opacity: 0.5;
          background-color:$ivory ;
          border-radius: inherit;
        }
        padding: 0;
      }
    }


  }
  #menu2 {
    .menuBox {
      flex-direction: column;
    }
  }


  @media screen and (min-width:375px) {
    .transverse{
      li, .logIn {
      font-size: 10px;
    }
    }
  }
  @media screen and (min-width:425px) {
    .logIn{
      padding: 4px 14px;
    }
    .transverse{
      li, .logIn {
      font-size: 12px;
    }
    }
  }
  @media screen and (min-width:550px) {
    .transverse{
      li, .logIn {
      font-size: 14px;
    }
    }
  }
  @media screen and (min-width:768px) {
    .main_section {
      font-size: 1rem;
    }
    .transverse{
      li, .logIn {
      font-size: 1rem;
    }}
    .length{
      .side.on , .side.left.on{
      width: 15%;
      }
      .side {
        .menubar span,
        .menubar svg,
        .logIn {
          font-size: 1rem;
        }
        .name {
          & , svg{
            font-size: 1.2rem;
          }
        }
      }
    }
    #menu1 .length:nth-child(1) {
      .header.name ,
      .header .name svg,
      .menuIcon{
        font-size: 1.2rem;
          }
    }
  }
  
  @media screen and (min-width: 1024px) {
    .menuBox {
      flex-direction: row;
      justify-content: space-around;
    }
    .transverse {
      width: 45%;
      margin: {
        left: 0;
        right:0;
      }
    }
  }
}

