body {
  overflow-x: hidden;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root li {
  list-style: none;
}

#main {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
}

@media screen and (min-width: 2000px) {
  #root {
    width: 2000px;
    margin: 0 calc(50% - 1000px);
  }
}

#loading {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#loading section {
  width: 100%;
  height: 30%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

#loading section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#loading section .container {
  margin-top: 2rem;
}

#loading section header {
  font-size: 1.2rem;
  padding-bottom: 10px;
  width: 90%;
  border-bottom: 2px solid #d3d3d3;
  color: #3d4449;
  font-weight: bold;
  padding: 6px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#circleLoading > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#circleLoading > div .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#circleLoading > div .loader {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  position: relative;
}

#circle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#circle1 .loader {
  background-color: #e0effa;
  -webkit-animation: loading 2s linear infinite;
          animation: loading 2s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#circle1 .loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#0abaff));
  background: linear-gradient(to top, transparent, #0abaff);
}

#circle1 .loader span {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 50%;
  background-color: #ffff;
}

#circle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#circle2 .loader {
  -webkit-animation: changeColor 10s linear infinite;
          animation: changeColor 10s linear infinite;
}

@-webkit-keyframes changeColor {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes changeColor {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

#circle2 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#circle2 span::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background-color: #01c1fc;
  -webkit-box-shadow: 0 0 10px #9df0ff, 0 0 30px #9df0ff;
          box-shadow: 0 0 10px #9df0ff, 0 0 30px #9df0ff;
}

#circle2 span:nth-child(1) {
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

#circle2 span:nth-child(1)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#circle2 span:nth-child(2) {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

#circle2 span:nth-child(2)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#circle2 span:nth-child(3) {
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}

#circle2 span:nth-child(3)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#circle2 span:nth-child(4) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

#circle2 span:nth-child(4)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#circle2 span:nth-child(5) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#circle2 span:nth-child(5)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#circle2 span:nth-child(6) {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

#circle2 span:nth-child(6)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#circle2 span:nth-child(7) {
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}

#circle2 span:nth-child(7)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#circle2 span:nth-child(8) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

#circle2 span:nth-child(8)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#circle2 span:nth-child(9) {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}

#circle2 span:nth-child(9)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#circle2 span:nth-child(10) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#circle2 span:nth-child(10)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#circle2 span:nth-child(11) {
  -webkit-transform: rotate(198deg);
          transform: rotate(198deg);
}

#circle2 span:nth-child(11)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

#circle2 span:nth-child(12) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

#circle2 span:nth-child(12)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#circle2 span:nth-child(13) {
  -webkit-transform: rotate(234deg);
          transform: rotate(234deg);
}

#circle2 span:nth-child(13)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

#circle2 span:nth-child(14) {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

#circle2 span:nth-child(14)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

#circle2 span:nth-child(15) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#circle2 span:nth-child(15)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#circle2 span:nth-child(16) {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

#circle2 span:nth-child(16)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

#circle2 span:nth-child(17) {
  -webkit-transform: rotate(306deg);
          transform: rotate(306deg);
}

#circle2 span:nth-child(17)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

#circle2 span:nth-child(18) {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}

#circle2 span:nth-child(18)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

#circle2 span:nth-child(19) {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}

#circle2 span:nth-child(19)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

#circle2 span:nth-child(20) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#circle2 span:nth-child(20)::before {
  -webkit-animation: animatecircle2 2s linear infinite;
          animation: animatecircle2 2s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes animatecircle2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes animatecircle2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

#circle3 .inner, #circle3 .outer, #circle3 .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.3);
}

#circle3 .inner {
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  margin: -40% 0 0 -40%;
  background-color: #f8f8f8;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.3);
}

#circle3 .circle {
  z-index: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#circle3 .loading {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 10px;
}

#circle3 .bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  clip: rect(0, 10vw, 10vw, 5vw);
  border-radius: 50%;
}

#circle3 .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0, 5vw, 10vw, 0);
  border-radius: 50%;
}

#circle3 .progress {
  background-color: #42a5f5;
}

#circle3 .left .progress {
  z-index: 1;
  -webkit-animation: circle3 4s linear both;
          animation: circle3 4s linear both;
}

@-webkit-keyframes circle3 {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes circle3 {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

#circle3 .right {
  z-index: 3;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#circle3 .right .progress {
  -webkit-animation: circle3 4s linear both;
          animation: circle3 4s linear both;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#circle3 .dot {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 10%;
  margin-top: -4%;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

#circle3 .dot svg {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  width: 20%;
  height: 100%;
}

#circle3 .dot circle {
  fill: #42a5f5;
}

#circle3 .dot:nth-child(1) {
  -webkit-animation: dot1 8s linear both;
          animation: dot1 8s linear both;
}

#circle3 .dot:nth-child(2) {
  -webkit-animation: dot2 8s linear both;
          animation: dot2 8s linear both;
}

@-webkit-keyframes dot1 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 5;
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    z-index: 5;
  }
}

@keyframes dot1 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 5;
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    z-index: 5;
  }
}

@-webkit-keyframes dot2 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 5;
  }
}

@keyframes dot2 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 5;
  }
}

#circle3 .loading {
  -webkit-animation: loadingText 8s linear both;
          animation: loadingText 8s linear both;
  color: #242424;
  font-weight: 500;
}

@-webkit-keyframes loadingText {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.2;
  }
  85% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingText {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.2;
  }
  85% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

#percent_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

#percent_circle .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffff;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.02);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.02);
}

#percent_circle .loader, #percent_circle svg {
  position: relative;
}

#percent_circle svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

#percent_circle circle {
  fill: none;
  stroke-width: 10%;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: calc(40% *2* 3.14);
  stroke-dashoffset: calc(40% *2 * 3.14);
  stroke-linecap: round;
}

#percent_circle circle:nth-child(1) {
  stroke-dasharray: 0;
  stroke: #f3f3f3;
}

#percent_circle circle:nth-child(2) {
  stroke: #ffde25;
}

#percent_circle #circle5:nth-child(2) {
  stroke-dasharray: calc();
}

#percent_circle .percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
}

#percent_circle .complete span:nth-child(1) {
  font-size: 14px;
  text-align: center;
}

#percent_circle .complete span:nth-child(2) {
  display: none;
}

#percent_circle span:nth-child(1) {
  font-weight: 700;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
}

#percent_circle span:nth-child(2) {
  color: #999;
}

#floatingLoading {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#floatingLoading > div {
  margin-top: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#floatingLoading .container {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#floating1 {
  margin-bottom: 2rem;
}

#floating1 .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#floating1 .loader .circle {
  border-radius: 50%;
  width: 1.5rem;
  aspect-ratio: 1/1;
  margin: 0;
  margin-left: 5%;
  background-color: #ff3575;
  -webkit-animation: animateFloating1 1s linear infinite;
          animation: animateFloating1 1s linear infinite;
}

@-webkit-keyframes animateFloating1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  75% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animateFloating1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  75% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#floating1 .loader .circle:nth-child(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  opacity: 0.25;
}

#floating1 .loader .circle:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0.5;
}

#floating1 .loader .circle:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  opacity: 0.75;
}

#floating1 .loader .circle:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  opacity: 1;
}

#floating2 .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#floating2 span {
  margin-top: -10%;
  color: #e92480;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 5px;
  text-shadow: 0px 15px 5px rgba(138, 137, 137, 0.274);
  -webkit-animation: animateFloating2 2s infinite;
          animation: animateFloating2 2s infinite;
}

#floating2 span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#floating2 span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#floating2 span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#floating2 span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#floating2 span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#floating2 span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#floating2 span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes animateFloating2 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-left: 0;
  }
  25% {
    color: #f1eab0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    margin-left: 10px;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-left: 0;
  }
}

@keyframes animateFloating2 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-left: 0;
  }
  25% {
    color: #f1eab0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    margin-left: 10px;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    margin-left: 0;
  }
}

#barLoading > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#barLoading .container {
  width: 80%;
  margin: 0 10%;
}

#barLoading .loader {
  width: 100%;
  height: 1.2rem;
  border-radius: 10px;
  margin: 1% 0;
}

#barLoading .bar {
  height: inherit;
  border-radius: inherit;
}

#barLoading .loading {
  margin-top: 10px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

#bar1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#bar1 .loader {
  border: 2px solid #A6CF98;
}

#bar1 .loading {
  -webkit-animation: bar1Loading 8s linear infinite;
          animation: bar1Loading 8s linear infinite;
  color: #2c9409;
  opacity: 0;
}

@-webkit-keyframes bar1Loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bar1Loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 1;
  }
}

#bar1 #bar1_bar {
  width: 0;
  background-color: #90db78;
  -webkit-animation: animateBar1 8s linear infinite;
          animation: animateBar1 8s linear infinite;
}

@-webkit-keyframes animateBar1 {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes animateBar1 {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

#bar2 .loader {
  border: 2px solid #b2b9b8;
}

#bar2 #bar2_bar {
  background-color: #e3ec64;
}

#bar2 #bar2_percent {
  color: #3d4449;
}

@media screen and (min-width: 425px) {
  #circle3 .loading {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  #floatingLoading > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #floatingLoading .container {
    width: 50%;
  }
  #floatingLoading #floating1 {
    margin-bottom: 0;
  }
  #floatingLoading #floating2 span {
    font-size: 2.2rem;
  }
  #barLoading > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #barLoading .container {
    width: 30%;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #circle3 .loading {
    font-size: 1rem;
  }
  #percent_circle span:nth-child(1) {
    font-size: 1.5rem;
  }
  #percent_circle .complete span:nth-child(1) {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  #circle3 .loading {
    font-size: 1.2rem;
  }
  #percent_circle span:nth-child(1) {
    font-size: 2rem;
  }
  #percent_circle .complete span:nth-child(1) {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 2000px) {
  #circleLoading > div .loader {
    width: 200px;
    height: 200px;
  }
  #circle3 .bar {
    clip: rect(0, 200px, 200px, 100px);
    border-radius: 50%;
  }
  #circle3 .progress {
    clip: rect(0, 100px, 200px, 0);
  }
}

body {
  overflow-x: hidden;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root li {
  list-style: none;
}

#main {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
}

@media screen and (min-width: 2000px) {
  #root {
    width: 2000px;
    margin: 0 calc(50% - 1000px);
  }
}

#sidebar {
  position: relative;
  margin: 0;
  width: 30vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
}

#navMenu {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#navMenu .inner {
  padding: 1rem;
}

#navMenu header {
  font-size: 1.3rem;
  font-weight: bolder;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #ff6232;
}

#navMenu ul {
  padding-left: 0;
}

#navMenu li {
  border-bottom: 1px solid #7c7c7c;
  margin-bottom: 1rem;
}

#navMenu li button {
  background-color: transparent;
  border: none;
  color: #555555;
  font-size: 1rem;
  padding-bottom: 10px;
}

#navMenu li button:hover {
  color: #ff6232;
}

#navIcon {
  position: absolute;
  top: 2rem;
  right: -3rem;
  font-size: 2rem;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  color: #ffab91;
  border-radius: 50%;
}

#navIcon:hover {
  color: #ff6232;
}

body {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */